<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/summer.jpeg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/color_logo_transparent_black.png" alt="">
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Που θα πάς?">
                </div>
                <h2 class="presentation-subtitle text-center">Navigate Your Vacation</h2>
            </div>
        </div>
</div>
